/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}